.seshet-fraction{
    display: inline-block;
    vertical-align:middle;
}

.seshet-fraction-ator{
    text-align:center;
}

.seshet-fraction-denominator{
    border-top: 1px solid black;
}

.seshet-sqrt{
    margin-top:1px;
}

.seshet-sqrt-body{
    border-top: 1px solid black;
    margin-top: 1px;
    display:inline-block;
}

.seshet-exponent input{
  vertical-align:+25%;
  font-size:small;
}


.seshet-paren{
  display:inline-block;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-radius: 8px;
  padding-left: 3px;
  padding-right: 3px;
}

.seshet-sqrt{
    border-image-source: url(square_root.svg);
    border-image-slice: 0 0 0 100%;
    border-image-repeat: stretch;
    border-image-width: 4px 0 0 11px;
    padding-left: 8px;
    border-style: solid;
    display: inline-block;
    
}
.seshet-sqrt{
    display: inline-block;
}
.seshet-sqrt-body{
    display:inline-block;
}